* {
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    list-style: none;
    outline: none;
    text-decoration: none;
    border-bottom: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-align: center;
}

/* botones */

 button.button {
    color: #000000;
    background-color: #D7A68A;
    border-radius: 10px; 
    font-weight: bold;
    width: 150px;
    height: 44px;
    font-size: 16pt;
}

/* color de pagina y letras */

body {
    background-color:#f2f2f2;
}
h3,h4 {
    color: #3D1D26;
}

/* primera lista del menu de navegacion */

nav {
    background-color: #D7A68A;
    width: 100%;
    height: 96px;
    clear: both; 
    margin-top: 66px;
}

nav img {
    float: left;
    padding-left: 160px;
    padding-top: 19px;
}
ul.nav {
    display: flex;
    float: right;
    padding-right: 160px;
    padding-top: 39px;
    font-weight: bold;
    gap: 33px;
}

/* jumboton */

/* imagen del jumbotron */


#Cafe {
   background-image: url('/taza\ cafe\ jumbotrom\ 1.jpg');
   height: 355px;
   background-size: cover;
}

/* titulo del jumbotron */
#Titulo {
    font-family: 'Kaushan Script', cursive;
    color: #765440;
    font-size: 40pt;
    text-align: center; 
    padding-top: 51px ;
    padding-bottom: 19px;
}

/* texto del jumbotron */
p.Texto {
    color: #765440;
    font-size: 12pt;
    text-align: center;
    padding-bottom: 17px;
}  

    
/* segunda lista del menu de navegacion */

section.Nav2 {
    width: 100%;
    height: 52px;
    background-color:#3D1D26;
    clear: both;

}
section.Nav2 a {
    color: #fff;
}
li.Menu2 {
    display: inline;
    gap: 67px;
    padding-top: 16px;
    margin-left: 60px;
    float: left;
    
}



/* primera seccion */

section.seccion1 {
    display: block;
    margin: auto;
    width: 680px;
    justify-content: center;
}
/* titulo de la seccion */
h2.subtitulo {
    padding-top: 111px;
    padding-bottom: 67px;
    font-family: 'Kaushan Script', cursive;
    color: #765440;
    font-size: 24pt ;
}
/* parrafo de la seccion */
p.Texto2 {
    padding-bottom: 34px;
    font-size: 16pt;
}
/* boton de la seccion */
button.ver {
    width: 100px;
    height: 29px;
    color: #000000;
    background-color: #D7A68A;
    border-radius: 10px; 
    font-weight: bold;
    font-size: 16pt;
}

/* segunda seccion */
div.Seccion2 {
    gap: 77px;
    display: flex;
    justify-content: center;
    padding-top: 95px;
}
div.Borde img {
    border-radius: 10px;
    width: 273px;
    height: 246px;
}
div.Borde {
    width: 273px;
    padding-bottom: 80px;
}
h3.subtitulo2 {
    padding-top: 14px;
    padding-bottom: 14px;
}
/* Productos Top */

section.productostop {
    padding-top: 90px;
    padding-bottom: 153px;
}
h2.h2 {
    font-size: 24pt;
    padding-bottom: 33px;
}

ul.productostop {
    display: flex;
    padding-bottom: 32px;
    gap: 20px;
    justify-content: center;

}
button.botonespecial {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 20px;
    width: 100px;
    height: 30px;

}

/* Card Product */

div.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 77px;
    padding-top: 40px;
    padding-bottom: 153px;
}

div.Card_product {
    
    background-color: #FFFFFF;
    width: 275px;
    height: 395px;
    border-radius: 10px;
}
div.Card_product1 {
    
    background-color: #FFFFFF;
    width: 275px;
    height: 395px;
    border-radius: 10px;
}

div.Card_product img {
    width: 234px;
    height: 168px;
    justify-content: center;
    margin-top: 115px;
}
div.Card_product1 img {
    width: 156px;
    height: 238px;
    justify-content: center;
    margin-top: 42px;
}

 div.Card_product h4 {
    text-align: center;
    font-size: 16pt;
    padding-top: 9px;
 }
 div.Card_product1 h4 {
    text-align: center;
    font-size: 16pt;
    padding-top: 14px;
 }
div.Card_product p {
    text-align: right;
    font-size: 12pt;
    padding-right: 16px;
    padding-top: 31px;
}
div.Card_product1 p {
    text-align: right;
    font-size: 12pt;
    padding-right: 16px;
    padding-top: 31px;
}

/* Nuestros Dulces */


/* titulo */
h2.NuestrosDulces {
    font-size: 24pt;
    padding-bottom: 54px;
}

div.Line {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 56px;
}

div.Line img {
    padding-bottom: 61px;
}

 /* imagenes*/
 div.Productos img {
    border-radius: 10px;
    width: 374px;
    height: 358px;
    margin: 20px;
    
}
div.Productos2 img {
    border-radius: 10px;
    width: 374px;
    height: 358px;
    margin: 20px;
}


/* Texto de precios en "especiales del mes " */

h2.Especialesdelmes {
    padding-top: 103px;
    padding-bottom: 48px;
    font-size: 24pt;
}

div.parrafo1 {
    display: flex;
    padding-left: 140px;
    gap: 8px;
}

p.parrafo2 {
    color: #3D1D26;
    text-decoration: line-through;
}


/* footer */
footer.footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 244px;
    display: flex;
    margin-top: 134px;
    
}

/* derechos reservados */
div.logo2 {
    padding-top: 54px;
    padding-left: 63px;
    display: grid;
}

div.logo2 img {
    float: left;
    width: 78px;
    height: 55px;
}
div.logo2 p {
    width: 190px;
    font-size: 16pt;
    text-align: left;
}
    
/* informacion*/
ul.Informacion {
    padding-left: 200px;
    padding-top: 54px;
    
}
ul.Informacion2 {
    padding-left: 78px;
    padding-top: 54px;
    
}
li.alinear {
    text-align: left;
    padding-bottom: 13px;
    font-size: 16pt;
}

/* informacion de redes sociales */
div.Redes {
   
    padding-top: 92px;
    padding-left: 183px;
    display: flex;
    gap: 55px;
    

}
div.Redes img {
    width: 32px;
    height: 32px;
}


