*{
  box-sizing: border-box;
  margin: 0.2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  outline: none;
  list-style: none;
  top: 10;
  font-size: 16pt;
}

body {
  display: flex;
  background-color: rgb(20, 31, 43);
}

.left-page {
  color: #f1f1f1;
  width: 40%;
}

.left-page .current-song img{
  width: 100%;
  border-radius: 50px;
}

.right-page {
  width: 60%;
}
.right-page .track-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.right-page .track-list .song {
  width: 600px;
  padding: 1em;
  border: 3px solid #ffffff;
  border-radius: 100px;
  color: rgb(20, 31, 43);
}