*{
  box-sizing: border-box;
  margin: 0.2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  outline: none;
  list-style: none;
  top: 10;
}

body {
  background-color: rgb(20, 31, 43);
  
}

.input-group  {
  font-size: 1.25rem;
  position: relative;
  --primary:#2196f3
}

.input {
  all: unset;
  color: #fefefe;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 100px;
  transition: 150ms
  cubic-bezier(0.4, 0.2 1)
}

.label {
  position: absolute;
  top:1rem;
  left: 1rem;
  color: #d4d4d4;
  pointer-events: none;
  transition: 150ms
  cubic-bezier(0.4, 0, 0.2, 1)
}

.input:focus {
  border: 1px solid
  var(--primary);
}

.input:is(:focus, :valid) ~ label {
  transform:
     translateY(-120%)
     scale(0.7)
}

.images {
  margin: 0.2%;
  width: 9000px;
}

.cancion {
  width: 7100px;
  font-size: 31px;
  color: #f1f1f1;
}

.btn {
  position:relative;
    display:block;
  height:50px;
  width:280px;
    border-radius: 100px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border:3px solid #7243df;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 590;
}

&::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin:auto;
  transition: all 500ms ease;
  z-index: -1;
}

.btn--1:hover {
animation: shadow-pulse 1000ms 1;
background-color: #7f5ad6;
}

.btn--2:hover {
animation: shadow-pulse 1000ms 1;
background-color: #7f5ad6;
}

.btn--3:hover {
animation: shadow-pulse 1000ms 1;
background-color: #7f5ad6;
}
  
.btn--4:hover {
animation: shadow-pulse 1000ms 1;
background-color: #7f5ad6;
  }

  @keyframes shadow-pulse {
      0% {
        box-shadow: 0 0 0 0 #7243df(32, 226, 215, 0.6);
      }
      100% {
        box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
      }
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.search-container {
position: relative;
}

.search-input {
padding: 8px;
font-size: 15px;
border: 4px solid #ccc;
border-radius: 100px;
width: 500px;
position: absolute;
top: 20;
right: 15;
}

.bt {
    border-radius: 100px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border:3px solid #7243df;
  margin-bottom: 40px;
  z-index: 0;
  font-weight: 590;
  }

.bt {
  display:block;
font-size: 15px;
  }

.boton1 {
padding: 8px;
font-size: 15px;
border: 4px solid #ccc;
border-radius: 100px;
width: 500px;
position: absolute;
top: 104;
right: 15;
}

.boton2 {
padding: 8px;
font-size: 15px;
border: 4px solid #ccc;
border-radius: 100px;
width: 500px;
position: absolute;
top: 174;
right: 15;
}

.boton3 {
padding: 8px;
font-size: 15px;
border: 4px solid #ccc;
border-radius: 100px;
width: 500px;
position: absolute;
top: 244;
right: 15;
}

.boton4 {
padding: 8px;
font-size: 15px;
border: 4px solid #ccc;
border-radius: 100px;
width: 500px;
position: absolute;
top: 314;
right: 15;
}

.boton5 {
padding: 8px;
font-size: 15px;
border: 4px solid #ccc;
border-radius: 100px;
width: 500px;
position: absolute;
top: 383;
right: 15;
}

.boton6 {
padding: 8px;
font-size: 15px;
border: 4px solid #ccc;
border-radius: 100px;
width: 500px;
position: absolute;
top: 453;
right: 15;
}

&::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin:auto;
  transition: all 500ms ease;
  z-index: -1;
}

.boton1:hover {
animation: shadow-pulse 1000ms 1;
background-color: rgb(20, 52, 87);
}

.boton2:hover {
animation: shadow-pulse 1000ms 1;
background-color: rgb(20, 52, 87);
}

.boton3:hover {
animation: shadow-pulse 1000ms 1;
background-color: rgb(20, 52, 87);
}
  
.boton4:hover {
animation: shadow-pulse 1000ms 1;
background-color: rgb(20, 52, 87);
}  
  
.boton5:hover {
animation: shadow-pulse 1000ms 1;
background-color: rgb(20, 52, 87);
}  
    
.boton6:hover {
animation: shadow-pulse 1000ms 1;
background-color: rgb(20, 52, 87);    
}

  @keyframes shadow-pulse {
      0% {
        box-shadow: 0 0 0 0 #7243df(32, 226, 215, 0.6);
      }
      100% {
        box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
      }
    }